@import '../styles/initstyles.scss';

.main-section {
  @include mainSection;
  border: 2px solid $buttonText;
}

.item {
  width: 100%;
  max-width: 1060px;
  border: 1px solid $buttonText;
  border-radius: $borderRaduis;
  background: $darkLG, $greyLG;
  padding: 12px 20px;
  margin-top: 20px;
  @include flexAlign;
  @include fCol;
  &:hover {
    cursor: pointer;
    background: $darkLG, $navyBlueLG;
  }
}

.short-options {
  @include fRow;
  @include flexAlign;
  width: 100%;
  justify-content: space-between;
  button {
    text-transform: uppercase;
    color: $buttonText;
    padding: 6px 20px;
    border-radius: 50px;
    border: none;
    &:hover {
      background: $hoverBackButton;
      cursor: pointer;
    }
  }
}

.tags {
  @include flexAlign;
  flex-wrap: wrap;
  width: 150px;
  .tag {
    @include flexAlign;
    justify-content: space-between;
    cursor: pointer;
    color: $buttonText;
    background: $myTag;
    margin: 0px 4px 10px 0px;
    border-radius: 4px;
    padding: 0px 3px 2px 3px;
    font-size: 10px;
    svg {
      margin-top: 3px;
      margin-left: 4.27px;
    }
  }
}

.install {
  background: $backButtonInst;
}

.long-options {
  @include fRow;
  padding-top: $padding20;
  padding-bottom: 12px;
}

.long-options-hide {
  display: none;
}

.drag {
  padding-right: $padding20;
  cursor: pointer;
}

.img-item {
  margin-right: $padding20;
  display: flex;
  img {
    width: 50px;
    height: 50px;
    border-radius: $borderRaduis;
    background: linear-gradient(180deg, $buttonText 0%, $buttonText 100%);
  }
}

.header-list {
  padding-right: $padding20;
  width: 212px;
  h4,
  p {
    margin: 0;
  }
}

.item-header {
  font-weight: 600;
  font-size: 16px;
  color: $headerListColor;
}

.header-list p {
  color: $subTextColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
}

.short-text {
  color: $mainTextColor;
  font-size: 16px;
  width: 270px;
}

.author {
  color: $subTextColor;
  padding-right: $padding20;
  font-size: 14px;
  width: 115px;
}

.section-long-text,
.section-text {
  @include fontTextDesktop;
}

.long-text,
.second-sec,
.third-sec {
  padding-right: 31px;
}

.long-text {
  width: 400px;
}

.second-sec div:nth-child(2),
.third-sec div:nth-child(2),
.fourth-sec div:nth-child(2) {
  padding: 27px 0px;
}

.fourth-sec {
  padding-right: 14px;
}

.section-header {
  font-weight: normal;
  color: $subTextColor;
  font-size: 14px;
  margin: 0;
}