$mainTextColor: #565555;
$subTextColor: #BBBBBB;
$borderRaduis: 10px;
$inputHeight: 40px;
$padding20: 20px;

@mixin flexAlign {
  display: flex;
  align-items: center;
}

@mixin mainSection {
  @include flexAlign;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-self: center;
  border-radius: 2px solid linear-gradient(to-left, #ffffff 100%, #ffffff 0%);
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  border-image-source: linear-gradient(165.4deg, #FFFFFF -10.07%, rgba(255, 255, 255, 0) 89.61%);
  backdrop-filter: blur(30px);
  padding: 20px 20px;
}

